@model dynamic
@inject IHttpContextAccessor httpContextaccessor

@{
    ViewData["Title"] = "Buat Pesanan";
    int userId = int.Parse(httpContextaccessor.HttpContext.Request.Cookies["user_id"]);
}

<div class="flex gap-4">
    @*Kiri*@
    <div class="card fit-screen overflow-hidden flex-auto">
        <div class="row justify-between mb-8">
            <h1>List Produk</h1>
            <div class="row gap-3">
                <search>
                    <form asp-controller="Pesanan" asp-action="Create" id="search" method="get" class="row bg-gray-100 pl-3 rounded-md gap-1">
                        <i class="bi bi-search text-gray-400"></i>
                        <input type="search" id="search" name="searchListProduk" placeholder="Cari produk..." class="form-input focus:outline-none" />
                        <button type="submit" class="btn-primary">Cari</button>
                    </form>
                </search>
            </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
            @foreach (var produk in Model.Produk)
            {
                <div class="p-5 bg-gray-100 active:bg-gray-200/70 rounded-xl row gap-6 shadow cursor-pointer">
                    <div class="w-28 aspect-square bg-gray-200 rounded-lg border"></div>
                    <div>
                        <h2 class="text-2xl font-semibold capitalize line-clamp-1">@produk.Nama</h2>
                        <div class="text-gray-500 mt-1">
                            <p>Rp @produk.Harga</p>
                            <p>@produk.Jumlah Stok</p>
                        </div>
                        <div class="row gap-2 mt-1">
                            <div id="kurang-produk" class="w-8 aspect-square rounded-full border center cursor-pointer">
                                <i class="bi bi-dash"></i>
                            </div>
                            <p id="jumlah-pesanan">0</p>
                            <input type="number" class="hidden" />
                            <div id="tambah-produk" class="w-8 aspect-square rounded-full border center cursor-pointer">
                                <i class="bi bi-plus-lg"></i>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @*Kanan*@
    <div class="card fit-screen overflow-hidden flex-none w-[400px]">
        <h2>Keranjang</h2>
        <table class="my-4">
            <tbody>
                <tr>
                    <td class="text-start">Sosis</td>
                    <td class="text-center">1x</td>
                    <td class="text-end">RP.3000</td>
                </tr>
                <tr>
                    <td class="text-start">Total</td>
                    <td class="text-end">RP.3000</td>
                </tr>
            </tbody>
        </table>
        @foreach (var mitra in Model.Mitra)
        {
            @foreach (var admin in Model.Admin)
            {
                @if (mitra.Id == userId)
                {
                    @if (admin.Cabang == mitra.Cabang)
                    {
                        <form asp-action="Create" class="flex-auto h-fit flex flex-wrap gap-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" name="UserId" value="@userId" />
                            <input type="hidden" name="Tanggal" id="tanggal" />
                            <input type="hidden" name="Status" value="Menunggu" />
                            <input type="hidden" name="Mitra" value="@mitra.Nama" />
                            <input type="hidden" name="Cabang" value="@mitra.Cabang" />
                            <input type="hidden" name="Admin" value="@admin.Nama" />
                            <label for="TotalHarga">
                                <span>TotalHarga</span>
                                <input name="TotalHarga" class="form-input" placeholder="Masukkan jumlah stok tersedia" />
                            </label>
                            <label for="JumlahPesanan">
                                <span>JumlahPesanan</span>
                                <input name="JumlahPesanan" class="form-input" placeholder="Masukkan jumlah minimum stok" />
                            </label>
                            <div class="self-end w-full">
                                <input type="submit" value="Buat Pesanan" class="btn-primary w-full" />
                            </div>
                        </form>
                    }
                }
            }
        }
    </div>
</div>

<script>
    document.querySelector('#tanggal').value = new Date().toISOString().substring(0, 10);

    const tambah = document.querySelector('#kurang-prouk')
    const kurang = document.querySelector('#tambah-produk')
    const jumlah = document.querySelector('#jumlah-pesanan')

    tambah.addEventListener('click', () => {
        jumlah.innerText = parseInt(jumlah.innerText) + 1
    })

    kurang.addEventListener('click', () => {
        if (jumlah.innerText !== 0) {
            kurang.innerText = parseInt(jumlah.innerText) + 1
        }
    })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}