@model IEnumerable<indogrosir_tim8.Models.Pesanan>

@{
    ViewData["Title"] = "Pesanan";
}

<div class="card fit-screen overflow-hidden">
    <div class="row justify-between mb-8">
        <h1>Pesanan</h1>
        <div class="row gap-3">
            <search>
                <form id="search" action="#" class="row bg-gray-100 pl-3 rounded-md gap-1">
                    <i class="bi bi-search text-gray-400"></i>
                    <input type="search" id="search" name="search" placeholder="Cari pesanan..." class="form-input focus:outline-none" />
                    <button type="submit" class="btn-primary">Cari</button>
                </form>
            </search>
            <a asp-action="Create" class="btn-primary pl-5">
                <i class="bi bi-plus-lg stroke-2"></i>
                Buat Pesanan
            </a>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tanggal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mitra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cabang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Admin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produk)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalHarga)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JumlahPesanan)
                </th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tanggal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mitra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cabang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Admin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalHarga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JumlahPesanan)
                </td>
                <td class="row gap-2">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn-icon bg-blue-500">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn-icon bg-purple-500">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn-icon bg-red-500">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
