@model dynamic

@{
    ViewData["Title"] = "Dashboard";
    int jumlahPesanan = 0;
    int jumlahProduk = 0;
    int jumlahSuplai = 0;

    @foreach (var pesanan in Model.Pesanan)
    {
        jumlahSuplai += pesanan.Jumlah;
    }

    @foreach (var pesanan in Model.Pesanan)
    {
        jumlahPesanan++;
    }

    @foreach (var produk in Model.Produk)
    {
        jumlahProduk++;
    }
}

<div class="card h-[calc(100dvh-104px)] overflow-hidden">
    <h1 class="mb-5">Dashboard Mitra</h1>
    <div class="flex h-40 gap-5 mb-5">
        @*Kiri*@
        <div class="flex-none items-center rounded-lg bg-blue-500 p-4 min-w-[200px] max-w-[240px]">
            <h2 class="text-white text-2xl font-bold">@Model.Mitra.Nama</h2>
            <p class="text-white">Mitra @Model.Mitra.Cabang</p>
        </div>
        @*Kanan*@
        @*1*@
        <div class="flex-1 bg-gray-100 rounded-lg p-5 h-full">
            <div class="bg-white rounded-md w-9 aspect-square mb-3 grid place-items-center">
                <i class="bi bi-currency-dollar text-blue-500"></i>
            </div>
            <p>Total Transaksi</p>
            <h2 class="text-blue-500 text-2xl font-bold">@jumlahPesanan pesanan</h2>
        </div>
        @*2*@
        <div class="flex-1 bg-gray-100 rounded-lg p-4 h-full">
            <div class="bg-white rounded-lg w-9 aspect-square mb-3 grid place-items-center">
                <i class="bi bi-rocket-takeoff text-blue-500 stroke-2"></i>
            </div>
            <p>Total Produk</p>
            <h2 class="text-blue-500 font-bold text-2xl">@jumlahProduk produk</h2>
        </div>
        @*3*@
        <div class="flex-1 bg-gray-100 rounded-lg p-4 h-full">
            <div class="bg-white rounded-lg w-9 aspect-square mb-3 grid place-items-center">
                <i class="bi bi-graph-up-arrow text-blue-500 stroke-2"></i>
            </div>
            <p>Total Suplai</p>
            <h2 class="text-blue-500 font-bold text-2xl">@jumlahSuplai item</h2>
        </div>
    </div>
    <h2 class="mt-8 mb-3">Produk Terbaru</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5">
        @foreach (var item in Model.Produk)
        {
            <a asp-controller="Produk" asp-action="Details" asp-route-id="@item.Id" class="p-5 bg-gray-100 active:bg-gray-200/80 rounded-xl row gap-5 shadow">
                <div class="w-28 flex-none aspect-square bg-gray-200 rounded-lg border">
                    <img src="~/assets/produk/@item.Gambar" class="img-cover" />
                </div>
                <div>
                    <h2 class="font-semibold capitalize line-clamp-1">@item.Nama</h2>
                    <div class="text-gray-500 mt-1">
                        <p>Rp @item.Harga</p>
                        <div class="flex gap-3">
                            <p>@item.Jumlah Stok</p>
                            <div>
                                @if (item.Jumlah <= item.Minimum)
                                {
                                    <span class="text-red-500" title="Stok Kurang">
                                        <i class="bi bi-exclamation-circle"></i>
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
