@model IEnumerable<indogrosir_tim8.Models.Cabang>

@{
    ViewData["Title"] = "Lokasi";
}

<div class="card shadow h-screen overflow-hidden">
    <div class="h-full grid grid-cols-2 gap-6">
        @*Kiri*@
        <div class="h-full overflow-hidden">
            <h1 class="mb-6">Lokasi Gerai</h1>
            <search class="w-1/2">
                <form asp-controller="Cabang" asp-action="Index" id="search" method="get" class="row bg-gray-100 pl-3 rounded-md gap-1">
                    <i class="bi bi-search text-gray-400"></i>
                    <input type="search" id="search" name="searchProduk" placeholder="Cari nama produk..." class="form-input w-full focus:outline-none" />
                    <button type="submit" class="btn-primary">Cari</button>
                </form>
            </search>
            @*list lokasi*@
            <ul id="lokasi" class="pr-2 space-y-5 h-[43rem] mt-5 overflow-y-scroll">
                @foreach (var item in Model)
                {
                    <li class="row gap-5">
                        <div class="w-[600px] h-44 rounded-lg border-2 overflow-hidden">
                            <img src="~/assets/lokasi/@item.Gambar" class="img-cover" alt="indogrosir pekanbaru" />
                        </div>
                        <div>
                            <h2>@Html.DisplayFor(modelItem => item.Nama)</h2>
                            <p class="mb-2 text-justify text-gray-500 line-clamp-3">
                                @Html.DisplayFor(modelItem => item.Lokasi)
                            </p>
                            <a href="tel:@item.NoHp" class="row gap-2">
                                <i class="bi bi-telephone-fill text-blue-500"></i>
                                <p class="text-gray-500">@Html.DisplayFor(modelItem => item.NoHp)</p>
                            </a>
                            <a href="@item.Gmaps" class="row gap-2">
                                <i class="bi bi-geo-alt-fill text-blue-500"></i>
                                <p class="text-gray-500">Buka Google Maps</p>
                            </a>
                        </div>
                    </li>          
                }
            </ul>
        </div>

        @*Kanan*@
        <div class="rounded-xl h-full border overflow-hidden">
            <img src="~/assets/image/figmap.png" class="img-cover" />
        </div>
    </div>
</div>

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert('@TempData["Message"]');
        };
    </script>
}
