@model IEnumerable<indogrosir_tim8.Models.Cabang>

@{
    ViewData["Title"] = "Lokasi";
}

<div class="card shadow h-screen overflow-hidden">
    <div class="h-full grid grid-cols-2 gap-6">
        @*Kiri*@
        <div class="h-full overflow-hidden">
            <h1 class="mb-6">Lokasi Gerai</h1>
            <search class="w-1/2">
                <form asp-controller="Cabang" asp-action="Index" id="search" method="get" class="row bg-gray-100 pl-3 rounded-md gap-1">
                    <i class="bi bi-search text-gray-400"></i>
                    <input type="search" id="search" name="searchGerai" placeholder="Cari Lokasi Gerai..." class="form-input w-full focus:outline-none" />
                    <button type="submit" class="btn-primary">Cari</button>
                </form>
            </search>
            @*list lokasi*@
            <ul id="lokasi" class="pr-2 space-y-5 h-[43rem] mt-5 overflow-y-scroll">
                @foreach (var item in Model)
                {
                    <li class="row gap-5">
                        <div class="w-72 h-44 flex-none rounded-lg border-2 overflow-hidden">
                            <img src="~/assets/lokasi/@item.Gambar" class="img-cover" alt="indogrosir pekanbaru" />
                        </div>
                        <div>
                            <h2>@Html.DisplayFor(modelItem => item.Nama)</h2>
                            <p class="mb-2 text-justify text-gray-500 line-clamp-3">
                                @Html.DisplayFor(modelItem => item.Lokasi)
                            </p>
                            <a href="tel:@item.NoHp" class="row gap-2">
                                <i class="bi bi-telephone-fill text-blue-500"></i>
                                <p class="text-gray-500">@Html.DisplayFor(modelItem => item.NoHp)</p>
                            </a>
                            <a href="@item.Gmaps" class="row gap-2">
                                <i class="bi bi-geo-alt-fill text-blue-500"></i>
                                <p class="text-gray-500">Buka Google Maps</p>
                            </a>
                        </div>
                    </li>          
                }
            </ul>
        </div>

        @*Kanan*@
        <div id="map"class="rounded-xl h-full border overflow-hidden">
            @*
             <img src="~/assets/image/figmap.png" class="img-cover" />
             *@
        </div>
    </div>
</div>

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert('@TempData["Message"]');
        };
    </script>
}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin="">
    </script>
<script>
    let map = L.map('map', {
        center: [-1.9449984608589113, 114.90874197840336],
        zoom: 3.5
    });

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' }).addTo(map);

    const pekanbaru = L.marker([0.4514818135313739, 101.41738325767065]).addTo(map);
    const bandung = L.marker([-6.903559838459459, 107.65485699999999]).addTo(map);
    const banjarmasin = L.marker([-3.392515799663163, 114.658015213494]).addTo(map);
    const kendari = L.marker([-3.9942419639224322, 122.54290329999998]).addTo(map);

    const cardLokasi = document.querySelectorAll('ul#lokasi li')
    cardLokasi[0].addEventListener('click', () => setMap(0.4514818135313739, 101.41738325767065))
    cardLokasi[1].addEventListener('click', () => setMap(-6.903559838459459, 107.65485699999999))
    cardLokasi[2].addEventListener('click', () => setMap(-3.392515799663163, 114.658015213494))
    cardLokasi[3].addEventListener('click', () => setMap(-3.9942419639224322, 122.54290329999998))
</script>
